:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #242424;
  /* background-color: #242424; */
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  color: gray;
  text-decoration: inherit;
}
a:hover {
  color: gray;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  padding: 2rem;
  text-align: center;
}

.content{
    max-width: 900px;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* New */
a{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

div, h1,h2,h3{
 /* color: #fff; */
 color: #242424;
 outline: none;
 text-align: left;
}

div{
  padding:4px 0px;
}

[contenteditable]:empty:after {
    content: attr(placeholder);
    color: lightgray;
}


.commands-container{
  /* background-color: white; */
  background-color: #fff;
  box-shadow:rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 320px;
  height: auto;
}

.commands-container > * {
  /* color: #1a1a1a; */
  color: #242424;
}

.hide-commands{
  display: none;
}

.show-commands{
  display: block;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.command{
  padding: 4px 12px;
  cursor: pointer;
}

.command:hover, .selected-command{
  background-color: lightgray;
}

.command span{
  display: block;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb{
  display: flex;
  align-items: center;
  gap: 6px;
}

.breadcrumb a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.right-nav{
  display: flex;
  justify-content: center;
}

.editing{
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

.publish{
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* decoration */
.decoration{
  margin-top: 2rem;
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 6px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.decoration div{
  display: flex;
  align-items: center;
}

.divider {
  display: block;
  background-color:  lightgray;
  margin:0 12px;
  width: 2px;
  border-radius: 2px;
  height:20px;
}

.initials{
  background-color: #D9F9E6;
  color: #347659;
  font-weight: 600;
  display: inline;
  padding: 4px 8px;
  border-radius: 4px;
}

.rabbit{
  width: 24px;
  height: 24px;
}

.query{
  background-color: #3565A9;
  color:#fff;
  padding: 6px 8px;
  border-radius: 4px;
}
